extends base.pug
include mixins/video

block content 
    h1 Hello!
    span=user.username
        each video in user.videos
            +video(video)
        else 
            li Sorry nothing found.